* {
  margin: 0;
  padding: 0;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.gallery-image {
  width: 250px;
  height: auto;
  border-radius: 20px;
}
